<div class="container-fluid" ng-controller="dashboardController">

    <div class="dashboard row">
        <div class="col-md-11 col-sm-11 text-center">
            <h1>Welcome {{getLoggedUser().login}}!</h1>
        </div>
        <div class="col-md-1 col-sm-1">
            <button class="btn btn-primary" ng-click="logOut()">LogOut</button>
        </div>
    </div>

    <div id="search_box">
        <span class="glyphicon glyphicon-search">&nbsp</span><input type="text" ng-model="keyword" placeholder="Search">
    </div>
    <div class="topiclist row">
        <div class="col-md-9 col-sm-12">
            <table class="table table-hover table-responsive" ng-init="getTopics()">
                <thead>
                <tr>
                    <th class="visible-md visible-lg">Category</th>
                    <th>Topic</th>
                    <th>User Name</th>
                    <th class="visible.md visible-lg">Posts</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='topic in topics | filter: {"topic" : keyword} | orderBy: "-date" '>
                    <td class="visible-md visible-lg" ng-bind='topic.category'></td>
                    <td><a ng-href="/#topic/{{topic._id}}">{{topic.topic}}</a></td>
                    <td><a ng-href="/#user/{{topic._user._id}}">{{topic._user.login}}</a></td>
                    <td class="visible-md visible-lg"><span class="badge" ng-bind='topic._post.length'></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 col-sm-12 newtopic">
            <h3>Add a New Topic</h3>

            <form name="newTopicForm" novalidate>
                <div class="form-group">
                    <label>Topic</label>
                    <input class="form-control" type="text" ng-model="topicName" placeholder="Name the topic" required><br>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea elastic class="form-control" ng-model="topicDescription" placeholder="Describe your topic here" required></textarea><br>
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <select ng-model="topicCategory" ng-init="topicCategories = ['General', 'Product', 'QnA', 'Discussion', 'Misc']" ng-options="topicCategory for topicCategory in topicCategories" required></select> <br>
                </div>

                <div class="form-group">
                    <label>Add Image</label>
                    <input filepicker type="filepicker"  on-success="onSuccessImage(event.fpfile)" />
                </div>
                <img ng-show="imageURL" class="new-topic-image" ng-src="{{imageURL}}"> <br>
                <input type="submit" value="Submit" ng-disabled="!newTopicForm.$valid" ng-click="addTopic()">
                <label ng-show="!newTopicForm.$valid" class="warning">Input all necessary fields</label>
            </form>
        </div>
    </div>
    <br>
    <br>

</div>