<div ng-controller="loginController">
  <h3>Hello!!</h3>
  <h3>Please enter your login to join and share your ideas</h3>
  <form name="loginForm" novalidate> 
	  <input type="text" ng-model="loginName" placeholder="Enter your login here" required>
      <input type="password" ng-model="password" placeholder="Enter your password here" required>
	  <input ng-disabled="!loginForm.$valid" type="submit" ng-click="login()">
  </form>

    <br>

    If you don't have an account sign up <a href="#/signup">here </a>
<!--   <label ng-bind='getLoggedUser()'></label> -->
</div>